@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Oswald:wght@600&display=swap');

.nav-contenedor, .btn-logout{
 margin-bottom: 8px;
 background: linear-gradient(to bottom right, rgb(55, 55, 252), darkblue);
 justify-content: flex-end;
}

.contenedor-links, p{
margin-left: 40%;
padding: 0;
}

.link-about{
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

.link-home{
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    margin-bottom: 8px;
    padding: 0;
}

.link-about:hover{
    color: rgb(188, 188, 188)
}

.link-home:hover{
    color: rgb(188, 188, 188)
}

.btn-logaout{
    position: relative;
}